<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="navBar-login">
    <div class="header">
        <div class="container">
            <!-- star header -->
            <div class="header mt-3">
                <div class="row bd">
                    <!-- star logo -->
                    <div class="col-lg-3 col-md-12">
                        <img src="/access/logo.jpg" alt="" class="w-100">
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="float-right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <li class="fa-solid fa-user"></li>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btn btn-light" href="#" th:text="${'hello ' + user.username}"></a>
                                <a class="dropdown-item btn btn-light" href="http://localhost:8080/users/update">Update Infomation</a>
                                <a class="dropdown-item btn btn-light" href="http://localhost:8080/logout">Log Out</a>
                            </div>
                        </div>
                        <div class="float-right mr-2">
                            <div class="btn-group" id="cartItems">
                                <button type="button" class="btn btn-lg btn-secondary btnShowCart">
                                    <li class=" fa-solid fa-cart-shopping"></li>
                                </button>
                                <div class="list-cart-menu wid-600" id="cartItemsUser">
                                    <h4 class="list-cart-items">Cart Items</h4>
                                    <div class="list-cart-items"></div>
                                    <div class="list-cart-items p-0" id="dropListCart">
                                        <table class="table table-striped w-100" id="tableCart">
                                            <thead>
                                            <th colspan="3" class="text-right">Name Product</th>
                                            <th>Total</th>
                                            <th>Quantity</th>
                                            </thead>
                                            <tbody class="w-100 text-center">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end logo -->
                </div>
            </div>
            <!-- end header -->
            <div class="nav nav-tabs">
                <ul class="list-group list-group-horizontal-lg float-left justify-content-around w-100 bg-secondary">
                    <a class="btn btn-secondary" href="http://localhost:8080/products">Home</a>
                    <li class="btn btn-secondary" href="#">Introduce</li>
                    <li class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Product
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="productCategories">
                        </div>
                    </li>
                    <li class="btn btn-secondary">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

</html>