<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/header :: header"/>
    <title>Forgot Password</title>
</head>
<body>
    <th:block th:replace="/layout/navBar :: navBar"/>
    <div class="log-in ptb-100 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="return-customer">
                            <h3 class="mb-1 custom-title">returnng customer</h3>
                            <p class="mb-1"><strong>I am a returning customer</strong></p>
                            <form action="#">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" name="email" placeholder="Enter your user name..." id="input-userName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="pass" placeholder="Password" id="input-password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="pass" placeholder="phone" id="input-phone" class="form-control">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-md btn-info">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Returning Customer End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <div><th:block th:replace="/layout/footerJS::footerJS"/></div>
    <script>
        $('.dropdown-toggle').dropdown()
        $.ajax({
            url: "http://localhost:8080/api/categories",
            type: "GET"
        }).done((data) => {
            let str = ``;
            $.each(data, (i, item) => {
                str += `<a class="dropdown-item" href="http://localhost:8080/api/products?category=${item.id}">${item.category}</a>`
            })
            document.getElementById("productCategories").innerHTML = str;
        }).fail((error) => {

        })
    </script>
</body>
</html>